
//popup widget
$popup_widget_border: 2px ridge blue;

	//popup widget title
	$popup_widget_title_background_color: lighten( blue, 25% );
	$popup_widget_title_text_color: lighten( black, 10% );
	$popup_widget_close_background-color: lighten( grey, 10% );
	