$small-screen: 320px;
$medium-screen: 800px;
$large-screen: 1200px;

$small-icon: "../../bundles/cscfatwigui/image/icon/16/";
$medium-icon: "../../bundles/cscfatwigui/image/icon/22/";
$large-icon: "../../bundles/cscfatwigui/image/icon/24/";

//inline layout variables
$inline-layout-float-side: left;
$inline-layout-max-width: $medium-screen;


//popup widget
$popup_widget_border_radius: 10px;
$popup_widget_width: 40%;
$popup_widget_max_height: 50%;

	//popup widget title
	$popup_widget_title_padding: 10px 10px 2px;
	$popup_widget_title_text_size: 13px;
	
	//popup widget close button
	$popup_widget_close_radius: 40%;
	$popup_widget_close_position_left: 4px;
	$popup_widget_close_position_bottom: 4px;
	$popup_widget_close_border: 2px outset darken( grey, 20% );
	$popup_widget_close_border_active: 2px inset darken( grey, 20% );
	$popup_widget_close_width: 18px;
	$popup_widget_close_height: 18px;
	$popup_widget_close_icon: $small-icon+"dialog_cancel.png";
	