<div>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p class="headerConnecting_welcome">Logged as {{ app.user.getUsername()|default("unknowed") }}</p>
    <a href="{{ path('logout') }}" class="btn btn-danger btn-lg headerConnecting_disconnectBtn">Disconnect</a>
{% else %}
    <p class="headerConnecting_welcome">Not logged</p>
    <a href="{{ path("core_home_index") }}" class="btn btn-success btn-lg headerConnecting_connectBtn">Connect</a>
{% endif %}
</div>
