{% trans_default_domain "CscfaCSManagerUseCaseBundle_module_addUseCaseInfo" %}

<div module="{{ moduleName }}" class="col-xs-12 col-md-10 col-md-offset-1">
    <p>
    	{{ 'message'|trans({'%projectName%': projectName}) }}
    </p>
</div>
