<header class="header">
    {% image '@CscfaCSManagerCoreBundle/Resources/public/image/csmLogo_h320_l320.png' %}
        <img src="{{ asset_url }}" alt="csmLogo" class="header_img"/>
    {% endimage %}
    
    <h1 class="header_h1">Cscfa csmanager</h1>
</header>
