{% trans_default_domain "CscfaCSManagerProjectBundle_view_AjaxApi_removeLinkSource" %}

<p style="text-align: center;">
{{ "message"|trans({"%link%": link.getLink(), "%project%": project.getName()}) }}
</p>

{{ form_start(form) }}
	<div class="cs-center">
		{{ form_row(form.submit) }}
	</div>
{{ form_end(form) }}
